/***** reset *****/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/***** sidebar *****/

.sidebar {
    background-color: #19202e;
    height: 900px;
    width: 200px;
}

.add-a-book-panel {
    background-color: #1f2637;
    border-bottom: 1px solid #141824;
    height: 114px;
    margin-bottom: 4px;
}

.add-a-book-panel button {
    background-color: #f2795a;
    border-radius: 3px;
    border: 0;
    color: white;
    cursor: pointer;
    font-weight: bold;
    font: 14pt 'Proxima Nova', Tahoma, Arial; 
    height: 45px;
    margin: 35px 20px;
    text-transform: uppercase;
    width: 160px;
}

/*
.add-a-book-panel button:hover {
    background-color: #e97051;
    border: 0;
}

.add-a-book-panel button:active {
    background-color: #ee7556;
    border: 0;
}
*/

.add-a-book-panel button:before {
    content: '+';
    display: inline-block;
    font-weight: bold;
    font: 16pt FontAwesome, Tahoma, Arial;
    margin-right: 5px;
    white-space: pre;
}

.add-a-book-panel button:hover:before {
    animation: spin .5s linear;
    transform-origin: 50% 56%;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.main-nav {
    background-color: #1f2637;
    border-bottom: 1px solid #141824;
    border-top: 1px solid #282f41;
    height: 240px;
    margin-bottom: 4px;
}

.main-nav a {
    box-sizing: border-box;
    color: #78829d;
    display: block;
    font: 13pt 'Proxima Nova', Tahoma, Arial;
    height: 38px;
    padding: 10px;
    text-decoration: none;
    text-transform: capitalize;
}

.main-nav a:hover {
    background-color: #15a4fa;
    color: white;
}

.personal-categories {
    background-color: #1f2637;
    border-bottom: 1px solid #141824;
    border-top: 1px solid #282f41;
    height: 181px;
    margin-bottom: 4px;
    padding: 20px;
    box-sizing: border-box;
}

.personal-categories a {
    color: #78829d;
    text-transform: capitalize;
    font: 13pt 'Proxima Nova', Tahoma, Arial;
    display: block;
    text-decoration: none;
    height: 30px;
}

.personal-categories a:before {
    content: '';
    display: inline-block;
    border-radius: 50%;
    background-color: white;
    width: 6px;
    height: 6px;
    margin-right: 15px;
    margin-bottom: 3px;
}

#must-read:before {
    background-color: #e64c66;
}

#best-of:before {
    background-color: #ffab00;
}

#classic:before {
    background-color: #00bfdd;
}

#non-fiction:before {
    background-color: #7874cf;
}

/*
#must-read:hover:before {
    background-color: #70d346;
}

#best-of:hover:before {
    background-color: #123eab;
}

#classic:hover:before {
    background-color: #ff7a00;
}

#non-fiction:hover:before {
    background-color: #ffe07c;
}
*/

.history-list {
    background-color: #1f2637;
    border-top: 1px solid #282f41;
    height: 347px;
    padding: 20px;
    box-sizing: border-box;
}